<head>
    <meta charset="UTF-8"/>
</head>
<div class="personal_nav" th:fragment="personal_nav" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul>
        <li><a href="/page/personal_info.do">个人信息</a></li>
        <li><a href="/page/publish_product.html">发布商品</a></li>
        <li><a href="/page/require_product.html">发布求购信息</a></li>
        <li><a href="/page/shopping_cart.html">我的购物车</a></li>
        <li><a href="selectUidAll?i=1">我发布的商品</a></li>
        <li><a href="Require?i=1">我求购的商品</a></li>
        <li><a class="login_out" href="/logout.html">退出</a></li>
    </ul>
</div>