<head>
    <meta charset="UTF-8"/>
</head>
<div class="personal_nav" th:fragment="personal_nav" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul>
        <li><a href="/personal_info.html">个人信息</a></li>
        <li><a href="/publish_product.html">发布商品</a></li>
        <li><a href="/require_product.html">发布求购信息</a></li>
        <li><a href="/shopping_cart.html">我的购物车</a></li>
        <li><a href="/my_publish_product_page.html">我发布的商品</a></li>
        <li><a href="/my_require_product_page.html">我求购的商品</a></li>
        <li><a class="login_out" href="/logout.html">退出</a></li>
    </ul>
</div>